<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>🏠 BudgetWithBrandon - Homepage</h1>
<hr></hr>
Hi {{ user.username }}! 👋
<p>Welcome to BudgetWithBrandon,</p>





<!--Deals with password changes-->
<p><a href="{% url 'password_change' %}">Password Change</a></p>

<!-- Form that deals with logging out, only can be done via POST -->
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<p>Currently, there are no transactions in your account, click below to add some and get started.</p>

<!-- Details concerning transactions-->
 <h1>BudgetWithBrandon - Transaction Input Backend</h1>
<p>Enter your transactions to be sent to the database</p>
<!-- an empty action as shown, means that the form data will be posted back to the current URL of the page (which is what we want -->
<!-- Will post to /transaction/ url-->
<form action="/transaction/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
<h2>Here are your transactions:</h2>
<!-- Get a list of transactions form the database-->

{% else %}
<h1>BudgetWithBrandon</h1>
<p>Welcome to BudgetWithBrandon! </p>
<p>Currently, you are not logged in.</p>
<p>Log in to begin and  build wealth.</p>
<hr>
<a href="{% url 'login' %}">Log In</a> 
<p>Forgot your password? Reset it <a href="{% url 'password_reset' %}">here</a></p>
<p>Want to learn more? See: <a href="{% url 'about' %}">here</a></p>
{% endif %}
{% endblock %}