<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>🏠 BudgetWithBrandon - Homepage</h1>
<hr></hr>
Hi {{ user.username }}! 👋
<p>Welcome to BudgetWithBrandon,</p>





<!--Deals with password changes-->
<p>Click below to change your password 👇</p>
<p><a href="{% url 'password_change' %}">Password Change</a></p>

<!-- Form that deals with logging out, only can be done via POST -->
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
<p>Currently, there are no transactions in your account, head over to the <a href="{% url 'transactions' %}">transactions</a> page to log some transactions</p>



{% else %}
<h1>BudgetWithBrandon</h1>
<p>Welcome to BudgetWithBrandon! </p>
<p>Currently, you are not logged in.</p>
<p>Log in to begin and  build wealth.</p>
<hr>
<a href="{% url 'login' %}">Log In</a> 
<p>Forgot your password? Reset it <a href="{% url 'password_reset' %}">here</a></p>
<p>Click sign up <a href="{% url 'register' %}">here</a></p>

<p>Want to learn more? See: <a href="{% url 'about' %}">here</a></p>
{% endif %}
{% endblock %}