{% extends 'base.html' %} 
{% block content%}


<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>BudgetWithBrandon - Your password reset request has been done.</h1>
  <hr>
  <h6 style="width: 60%; margin: 0 auto">
    An email has been sent with instructions to reset your password.
    You should recieve the email shortly.
  </h6>
</div>
<br />
<div class="text-center">
  <p>Once your password has been reset, head over to the login page below.</p>
  <a href="{% url 'login' %}">Login</a>
</div>
{% endblock%}